@using Microsoft.AspNetCore.Http
@using RealEstateApp.Core.Application.Dtos.Account
@using RealEstateApp.Core.Application.helper;
@using RealEstateApp.Core.Application.ViewModels.Users;
@inject IHttpContextAccessor httpContextAccessor
@{
    var User = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
    var isAdmin = User != null ? User.Roles.Any(r => r == "Admin") : false;
    var IsClient = User != null ? User.Roles.Any(r => r == "Client") : false;
    var isDev = User != null ? User.Roles.Any(r => r == "Developer") : false;
    var isAgent = User != null ? User.Roles.Any(r => r == "Agent") : false;
    var isSuperAdmin = User != null ? User.Roles.Any(r => r == "SuperAdmin") : false;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Real Estate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/Recursos/sign-hanging-solid.svg" />
</head>
<body class="bg-home">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-menu border-bottom box-shadow mb-3">
            <div class="container-fluid">
                 <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Real Estate</a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav flex-grow-1">
                        @if (User == null || (IsClient && !isSuperAdmin))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light fw-bolder" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i> Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light fw-bolder" asp-area="" asp-controller="Agent" asp-action="Index"><i class="fa-solid fa-id-badge"></i> Agentes</a>
                            </li>
                        }
                        @if (User != null && (IsClient && !isSuperAdmin))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light fw-bolder" asp-area="" asp-controller="Client" asp-action="PropertiesFavorite"><i class="fa-solid fa-bookmark"></i> Mis Propiedades</a>
                            </li>
                        }


                        @if (User != null && (isAgent && !isSuperAdmin))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light fw-bolder" asp-area="" asp-controller="RAgent" asp-action="Index"><i class="fa-solid fa-house"></i> Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light fw-bolder" asp-area="" asp-controller="RAgent" asp-action="Profile"><i class="fa-solid fa-address-card"></i> Mi Perfil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light fw-bolder" asp-area="" asp-controller="RAgent" asp-action="Properties"><i class="fa-solid fa-hotel"></i> Propiedades</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light fw-bolder" asp-area="" asp-controller="RAgent" asp-action="CreateRequest"><i class="fa-solid fa-code-pull-request"></i> Solicitudes</a>
                            </li>
                        }

                        @if (User != null && (isAdmin || isSuperAdmin))
                        {

                            <li class="nav-item text-end">
                                <a class="nav-link text-light fw-bolder" asp-area="" asp-controller="Admin" asp-action="Dashboard"> Dashboard</a>
                            </li>
                            <li class="nav-item dropdown text-end">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Administrador</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item fw-bolder" asp-area="" asp-controller="Admin" asp-action="Index"> Administradores</a>
                                    <a class="dropdown-item fw-bolder" asp-area="" asp-controller="Agent" asp-action="AgentList"> Lista de Agentes</a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item fw-bolder" asp-area="" asp-controller="TypeSale" asp-action="Index"> Tipos de Ventas</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item fw-bolder" asp-area="" asp-controller="TypeProperty" asp-action="Index"> Tipos de Propiedades</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item fw-bolder" asp-area="" asp-controller="Improvement" asp-action="Index"> Mejoras</a>
                                    <a class="dropdown-item fw-bolder" asp-area="" asp-controller="Developer" asp-action="Index"> Desarrollador</a>

                                </div>
                            </li>
                            <li class="nav-item text-end">
                                <a class="nav-link text-light fw-bolder" asp-area="" asp-controller="Admin" asp-action="Requests"> Peticiones</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        @if (User != null && !isSuperAdmin)
                        {
                            <li class="nav-item text-end">
                                <a class="nav-link text-light fw-bolder" asp-area="" asp-controller="User" asp-action="LogOut">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesion <img src="@User.PhotoProfileUrl" style="width:3%" class="rounded-circle" alt="FotoPerfil">
                                </a>
                            </li>

                        }
                        else if (isSuperAdmin)
                        {
                            <li class="nav-item text-end">
                                <a class="nav-link text-light fw-bolder" asp-area="" asp-controller="User" asp-action="LogOut">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesion 
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light fw-bolder" asp-area="" asp-controller="User" asp-action="Index"><i class="fa-solid fa-arrow-right-to-bracket"></i> Inicio de Sesión</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light fw-bolder" asp-area="" asp-controller="User" asp-action="Register"><i class="fa-solid fa-address-card"></i> Únete a la app</a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; @DateTime.UtcNow.Year - RealEstateApp - <a asp-area="" asp-controller="Home" asp-action="#" class="text-dark text-muted" style="text-decoration:none;">Derechos reservados por los autores</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/67cf9a17fd.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
